<head>
	<title>CLXXIII's Tourney Wiki</title>
	<link rel="stylesheet" href="../style.css" />
	<link rel="stylesheet" href="../markdown.css" />
	<link rel="icon" href="../static/icon.png" />
</head>

<body onload="onLoad()">
	<header>
		<div class="container">
			<div class="logo"><a href="../">osu!Staff Docs</a></div>
			<nav>
				<ul>
					<li><a href="/osu-staff/intro">INTRODUCTION</a></li>
					<li><a href="/osu-staff/referee">REFEREEING</a></li>
					<li><a href="/osu-staff/streaming">STREAMING</a></li>
					<li><a href="/osu-staff/mappooling">MAPPOOLING</a></li>
					<li><a href="/osu-staff/hosting">HOSTING</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="bg"></div>
	<div class="wrapper">
		<div class="content">
			<h1 id="web-title"></h1>
			<section id="Introduction">
				<h2>Introduction</h2>
			</section>
		</div>
	</div>
	<div class="section-directory-container">
		<div class="section-directory">
			<h2>Sections:</h2>
		</div>
	</div>
	<script src="../index.js"></script>
	<script src="../static/parallax.js"></script>
	<script src="../createDirectory.js"></script>
</body>
