:root {
	--heading-color: rgb(213, 255, 238);
	--heading-glow: rgb(122, 255, 177);
	--bold-color: rgb(200, 255, 223);
	--link-color: rgb(200, 255, 223);
	--link-color-hover: rgb(144, 255, 190);
}

.content a {
	color: var(--link-color);
	/* transition: font-size 0.2s ease-in-out */
}

.content a:hover {
	color: var(--link-color-hover);
}

.content p {
	text-indent: 5%;
	text-align: left;
}

.section-directory h2 {
	text-shadow: none;
}

.content #web-title {
	font-size: 400%;
	text-transform: uppercase;
	font-family: "Montserrat";
	text-shadow: 0 0 20px var(--heading-glow);
}

.content h1 {
	color: white;
	text-shadow: 0 0 10px var(--heading-glow);
	font-size: 175%;
	margin-bottom: 10px;
}

.content h2 {
	font-size: 150%;
}

.content ul {
	text-align: left;
	margin-left: 10%;
}

.content strong {
	color: var(--bold-color);
	font-weight: 800;
}

.content img {
	width: 90%;
}

code {
	position: relative;
	font-size: 90%;
	margin-left: 0 !important;
	vertical-align: middle;
	font-family: "Nunito";
	transform: translate(10px, 20px);
	padding: 0px 3px;
	border-radius: 5px;
	background-color: rgb(7, 12, 14);
	list-style-type: none;
}

ul.code {
	padding: 20px;
}

li {
	margin-bottom: 10px;
}

.size {
	font-size: calc(100% * var(--i));
}

div.code-explain {
	display: flex;
	justify-content: center;
}

ul {
	width: 90%;
}

table,
th,
td {
	color: white;
	text-align: center;
}

th {
	font-size: 30px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);
}

td {
	font-size: 18px;
	padding: 5px 5px 5px 0;
	border-bottom: 1px solid rgba(255, 255, 255);
}

table {
	padding: 10px;
	border-radius: 10px;
	border-spacing: 0 10px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	background: linear-gradient(
		135deg,
		rgba(19, 212, 213, 0.5) 0%,
		rgba(23, 214, 166, 0.5) 100%
	);
	width: 90%;
}

table code {
	background-color: rgba(0, 0, 0, 0.3);
}
